@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*----Common For All Pages----*/
/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   background-color: #EDEDF0;
   
 }

 a {text-decoration:none;
 }

/*----Navigation-----*/
 .nav-bar {
     background-color:#861F41;
     height: 69px;
     display: flex;
     gap:auto;
     justify-content: flex-start;
     align-items:center;   /* Vertically center the items */
    }
 .logo-1 {
    height: 54px;
    width: 54px;
    margin: 5px 10px 1px 150px;
    border-radius: 50%;
    border-style: solid;
    border-color: #ffffff;
    border-width: 2px;
 }
 .nav-center{
    margin-left: auto; /* This pushes the center box to the middle */
    margin-right: auto; /* This keeps it centered by taking equal space on both sides */
 }
 .nav-title {
    color: #ffffff;
    margin-left: 50px;
}
.list-text{
    color: #ffffff;
 }
.nav-left {
    margin-right: 5%;
    color: #ffffff;
    display: flex;
    gap:50px;
    align-items: center; /* Vertically center the items, if necessary */
}
.nav-right {
    margin-right: 5%;
    color: #ffffff;
    display: flex;
    gap:50px;
    align-items: center; /* Vertically center the items, if necessary */
 }

 /*----Assg4: HTML Assignment 4.html----*/
.assg-intro {
    width: 30%;
    margin: 30px auto 30px auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
 }

 .assg-intro > * {
    margin: 10px auto auto auto;
 }
 
 .assg-intro p {
    text-align: justify;
 }

/*----Assg4: HTML Assignment 4.html----*/
/* Layout */
.insta-layout {
    margin: 30px auto;
    display: flex;
    height: 130vh;
    background-color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* Sidebar (20%) */
.sidebar {
    width: 21.5%;
    background-color: #fff;
    border-right: 1px solid #dbdbdb;
    padding: 45px 10px;
    margin: 0px 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
    height: 103vh;
    /* position: -webkit-sticky; */
    /* position: fixed;
    top: 330px; */
    /* position: sticky;
    top: 100px;
    height: 80vh;
    min-height: 200px; */
    /* overflow: auto; */
}

.sidebar .logo img {
    width: 100px;
    margin: 0px 0px 30px 10px;
}
/* .side-menu-1 {
} */

.side-menu-2 {
    /* height: 0vh; */
    margin-top: auto;    
}

/* Start - Side Bar Meny Styling */
/* Remove default list styles */
.side-menu-1, .side-menu-2 {
    list-style-type: none;
    padding: 0px;
}
/* Style list items */
.side-menu-1 li, .side-menu-2 li {
    display: flex; /* Make image &link inline */
    align-items: center; /* Vertically center image & link */
    padding: 12px 12px; /* Add padding bw list items */
    margin-bottom: 10px; /* Add space bw list items */
}
/* Style image inside each list item */
.side-menu-1 li img, .side-menu-2 li img  {
    margin-right: 18px; /* Add space bw image & anchor text */
    width: 22px; /* Set fixed width for images */
    height: 22px; /* Set fixed height for images */
    object-fit: contain; /* Ensure image fits within the dimensions*/
}
/* Optional: Style the anchor text */
.side-menu-1 li a, .side-menu-2 li a {
    text-decoration: none;
    color: #000000; /* Change link color */
    font-size: 15px;
}
/* Sidebar Hover effect */
.side-menu-1 li:hover {
    background-color: #f2f2f2; /* Darken background on hover */
    border-radius: 6px;
}
/* End - Side Bar Meny Styling */

/*-Profile Section-Main Content (Right) (82%) */
.profile-content {
    width: 80%;
    padding: 33px 13% 20px 20px;
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
}
/* Profile Header */
.profile-header {
    display: flex;
    margin-bottom: 0px;
}
.profile-pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 40px 100px 0px 0px;
    outline: 1px solid #DDDDDD;
    outline-offset:-1px;
}
.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2px;
}
.profile-header-top {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
}
.username {
    font-size: 19px;
    font-weight: 400;
    margin-right: 0px;
}
.insta-verified {
    width: 20px;
    height: 20px;
}
.follow-btn {
    background-color: #0095f6;
    color: white;
    border: none;
    padding: 9px 22px;
    margin: 0px 2px 0px 8px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 6px;
}
.insta-add {
    background-color: #efefef;
    padding: 5px 7px;
    border-radius: 6px;
}
.insta-add img {
width: 16px;
height: 16px;
cursor: pointer;
}
.message-btn {
    background-color: #efefef;
    color: white;
    border: none;
    padding: 9px 18px;
    margin-right: 2px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 6px;
}
.message-btn {
    color: #333;
    cursor: pointer;
}
.options-btn {
    padding: 0px 0px 3px 0px;
    border: none; /*Remove default style from buttons*/
    background: none; /*Remove default style from buttons*/
    font-size: 30px;
    font-weight: 700;
    color: #000000;
    cursor: pointer;
}
/*---- Profile Stats-----*/
.profile-stats {
    display: flex;
    list-style: none;
    margin-top: 5px;
    margin-bottom: 15px;
}
.profile-stats li {
    font-size: 15px;
    margin-right: 45px;
}
.profile-stats li  span {
    font-weight: 600;
}
/*---- Bio-----*/
.bio {
    font-size: 14px;
    font-weight: 600;
    padding-top: 3px
}

.bio a {
    text-decoration: none;
}
/* Style the anchor (hyperlink) element */
.custom-link {
    display: inline-flex; /* Image and text inline */
    align-items: center; /* Vertically center content */
    padding: 5px 5px; /* Add padding around the hyperlink */
    margin: 5px 0; /* Add margin to top and bottom */
    text-decoration: none; /* Remove underline from link */
    color: #1b1b1b; /* Set text color */
    background-color: #efefef; /* Add background color */
    border-radius: 20px; /* Optionally, add rounded corners */
    font-size: 12px; /* Font size for text */
}

/* Style the image inside the anchor */
.custom-link img {
    margin-right: 5px; /* Space between image and text */
    width: 15px; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio */
}
/* Hover effect */
.custom-link:hover {
    background-color: #e3e3e3; /* Darken background on hover */
}
.bio-text-1 {
    font-size: 14px;
    color: #737373;
}
.bio-text-2 {
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}
.hyperlink-1 {
    width:12px;
    height: 12px;
}
.bio-text-3 {
    font-size: 14px;
    color: #00376B;
    text-decoration: none;
font-weight: 500;
}
.bio-text-3:hover {
    text-decoration: underline;
}
/* Profie Stories (Circles) */
.highlights {
    width: 57%;
    display: flex;
    gap: 40px;
    margin-bottom: 30px;
    justify-content: flex-start;
}
.highlight {
    text-align: center;
}
.highlight img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 5px;
    outline: 1px solid #DDDDDD;
    outline-offset:5px;
}
.highlight p {
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap; 
    width: 94px; 
    overflow: hidden;
    text-overflow: ellipsis;    
}

/* Profile Tabs */
.profile-tabs {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    border-top: 1px solid #737373;
}

.profile-tabs a {
    width: 80px;
    text-decoration: none;
    color: #333;
    padding: 10px 45px;
    font-weight: bold;
    border-bottom: 2px solid transparent;
}
.profile-tabs a.active {
    border-bottom: 2px solid #333;
}

/* Posts Grid */
.posts-grid {
    display: flex;
    justify-content: center; 
}
.post-item img {
    width: 280px;

    object-fit: contain;
    border-radius: 8px;
}

/*-----------Galley From Faraz-----------*/

body {
  font-family: "Open Sans", Arial, sans-serif;
  min-height: 100vh;
  /* background-color: #fafafa; */
  color: #262626;
  padding-bottom: 3rem;
}

/* img {
  display: block;
} */

.container {
  max-width: 93.5rem;
  margin: 0 auto;
  padding: 0 2rem;
}

/* Gallery Section */
      .gallery {
        display: flex;
        flex-wrap: wrap;
        margin: -1rem -1rem;
        padding-bottom: 3rem;
      }
      
      .gallery-item {
        position: relative;
        flex: 1 0 22rem;
        margin: 1rem;
        color: #fff;
        cursor: pointer;
      }
      
      .gallery-item:hover .gallery-item-info,
      .gallery-item:focus .gallery-item-info {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
      }
      
      .gallery-item-info {
        display: none;
      }
      
      .gallery-item-info li {
        display: inline-block;
        font-size: 1.7rem;
        font-weight: 600;
      }
      
      .gallery-item-likes {
        margin-right: 2.2rem;
      }
      
      .gallery-item-type {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 2.5rem;
        text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
      }
      
      .fa-clone,
      .fa-comment {
        transform: rotateY(180deg);
      }
      
      .gallery-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }